
.danhba-item-1{
    margin-top: 20px;
    
}

.danhba-item-header-1{
    display: flex;
    border-top: 2px solid green;
    
}

.danhba-item-header-left-1{
    font-size: 24px;
    width: 15%;
    text-align: center;
    
    color: green;
    border: 1px solid green;
    border-top: none;
}

.danhba-item-header-right-1{
    font-size: 30px;
}

.danhba-item-content{
    padding: 20px;
}